body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #4D426D */
    background: #ee9ca7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ee9ca7, #ffdde1);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ee9ca7, #ffdde1);
}



code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1 {
    text-align: center;
    color: #ffdde1;
    font-size: 4rem;
    font-family: 'ubuntu', 'Arial Narrow', Arial, sans-serif;
}

span {
    color: #3CC6B7;
}

.chatBox {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 1200px;
    height: 650px;
    left: 365px;
    top: 57px;
    background-color: #4D426D;
    border-radius: 20px;
    border: #4D426D solid;

}

.header {
    margin-top: 20px;
    background-color: #a69fb9;
    height: 50px;
    width: 95%;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    margin-left: 2.5%;
    border-radius: 30px 30px 0 0;
}

.whiteBox {
    height: 50%;
    justify-content: center;
    align-items: center;
    width: 95%;
    background-color: #DAD2F1;
    overflow: auto;

}

.inputForm {
    padding: 25px;
    background-color: #a69fb9;
    width: 95%;
    margin-left: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 30px 30px;


}

.inputName {
    width: 100%;
    border-radius: 30px;
    margin-top: 5px
}

.btn-custom {
    border-radius: 90%;
    width: 80px;
    height: 80px;
    background-color: #3CC6B7;
    border: none;
    margin-left: 30px
}

ul {
    list-style: none;
    padding-left: 0
}


.talk-bubble {
    margin: 10px;
    display: inline-block;
    position: relative;
    width: 200px;
    height: auto;
    background-color: lightyellow;
    word-break: break-all;


}

.msg_cotainer {
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
    word-break: break-all;
    padding: 0% 2%;


}

.msg_time {
    color: black;
    font-size: 10px;
    margin-left: 30%;
    padding-right: 15px
}

.col-msg-time {
    padding-left: 0px;
    padding-right: 0px;

}

.tri-right.border.left-top:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -40px;
    right: auto;
    top: -8px;
    bottom: auto;
    border: 32px solid;
    border-color: #666 transparent transparent transparent;
}

.tri-right.left-top:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 22px solid;
    border-color: #82ccdd transparent transparent transparent;
}

.talktext {
    padding: 5% 5%;
    text-align: left;
    line-height: 1.5em;
    flex: auto;

}

p {
    /* remove webkit p margins */
    padding: 10px 0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.icon-text {
    width: 50px;
    height: 50px;
    background-color: chocolate;
    margin: auto 0;
    border-radius: 100%;
    text-align: center;
    vertical-align: center;
    margin-top: 50%;
}

.nameUser {
    margin-left: 2%;
    padding-bottom: 0px;
    margin-bottom :0px
}

.btn {
    padding: 0px
}

.cg-cl-del {
    color: red;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border-top: 2px solid #07d;
    border-right: 2px solid transparent;
    animation: spinner .6s linear infinite;
}

.p-resend {
    color: red;
    font-size: 10px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 0px
}